# Data Collection and Organization for Movie Analytics
### [Udacity Data Engineering Nanodegree](https://www.udacity.com/course/data-engineer-nanodegree--nd027) Capstone Project

#### Project Summary
This project combines movie data, including user ratings, from different sources in order to build a data model that includes historical movie titles, along with user ratings, genres and tagged attributes of each movie. From here, analysis can be performed to find movies that are most popular with users and which attributes and genres that popular titles fall under. This data may be valuable to a studio or distributor in order to map trends for titles that users enjoyed the most.

The project follows the following steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

### Step 1: Scope the Project and Gather Data

#### Scope
The scope of this project is to take movie data, including user ratings, from different sources and to combine their data attributes per individual titles. This is being done in order to produce a more comprehensive data set than a single source can provide. The resulting data can then be used to run intelligence reporting regarding popularity for particular movies, genres, etc. The data will be read, organized and analyzed using [Apache Spark](https://spark.apache.org/).  

#### Describe and Gather Data 
The data being used is from both [IMDB Datasets](https://www.imdb.com/interfaces/) and [MovieLens](https://grouplens.org/datasets/movielens/latest/). Both of these datasets are publicly available and together contain data for over 8 million titles, along with metadata on actors, crew and user ratings. Information about invididual fields are listed in each link.

The IMDB Data Set consists of the following 7 tab-delimited files:

<ul>
    <li>title.basics.tsv.gz</li>
    <li>title.akas.tsv.gz</li>
    <li>title.crew.tsv.gz</li>
    <li>title.episode.tsv.gz</li>
    <li>title.principals.tsv.gz</li>
    <li>title.ratings.tsv.gz</li>
    <li>name.basics.tsv.gz</li>
</ul>

The MovieLens data consists of the following 6 .csv files:

<ul>
    <li>genome-scores.csv</li>
    <li>genome-tags.csv</li>
    <li>links.csv</li>
    <li>movies.csv</li>
    <li>ratings.csv</li>
    <li>tags.csv</li>
</ul>

In [16]:
import os

from pyspark.sql import SparkSession
spark = SparkSession \
            .builder \
            .config(
                "spark.jars.packages",
                "org.apache.hadoop:hadoop-aws:3.0.0"
            ) \
            .getOrCreate()

### Step 2: Explore and Assess the Data
#### Explore the Data 

Let's take a look at each file to see how they are structured and identify how we can use them within the project.

#### IMDB Data Files

In [3]:
IMDB_SOURCE_DIR = "s3a://moviepipeline/imdb/"

imdb_read_options = {
    'sep': '\t',
    'header': True
}

`title.basics.tsv.gz`

In [4]:
imdb_title_basics_df = spark.read.options(
    **imdb_read_options).csv(
    os.path.join(IMDB_SOURCE_DIR, "title.basics.tsv.gz")
)
imdb_title_basics_df.show(10)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
|tt0000006|    short|   Chinese Opium Den|   Chinese Opium Den|      0|     1894|     \N|             1|               Short|
|tt0000007|    short|Corbett and Court...|Corbett and Court...|      0|     1894|     \N|             1|         Short,Sport|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000009|    short|          Miss Jerry|          Miss Jerry|      0|     1894|     \N|            40|       Romance,Short|
|tt0000010|    short| Leaving the Factory|La sortie de l'us...|      0|     1895|     \N|             1|   Documentary,Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 10 rows

It looks like the `titleType` field makes it apparent that there are more than movies in this data set. Let's see what values that field may hold:

In [5]:
imdb_title_basics_df.select("titleType").distinct().collect()

[Row(titleType='tvSeries'),
 Row(titleType='tvMiniSeries'),
 Row(titleType='tvMovie'),
 Row(titleType='tvPilot'),
 Row(titleType='tvEpisode'),
 Row(titleType='movie'),
 Row(titleType='tvSpecial'),
 Row(titleType='video'),
 Row(titleType='videoGame'),
 Row(titleType='tvShort'),
 Row(titleType='short'),
 Row(titleType='radioEpisode')]

`title.akas.tsv.gz`

In [6]:
imdb_title_akas_df = spark.read.options(
    **imdb_read_options).csv(
    os.path.join(IMDB_SOURCE_DIR, "title.akas.tsv.gz")
)
imdb_title_akas_df.show(10)

+---------+--------+--------------------+------+--------+-----------+-------------+---------------+
|  titleId|ordering|               title|region|language|      types|   attributes|isOriginalTitle|
+---------+--------+--------------------+------+--------+-----------+-------------+---------------+
|tt0000001|       1|          Карменсіта|    UA|      \N|imdbDisplay|           \N|              0|
|tt0000001|       2|          Carmencita|    DE|      \N|         \N|literal title|              0|
|tt0000001|       3|Carmencita - span...|    HU|      \N|imdbDisplay|           \N|              0|
|tt0000001|       4|          Καρμενσίτα|    GR|      \N|imdbDisplay|           \N|              0|
|tt0000001|       5|          Карменсита|    RU|      \N|imdbDisplay|           \N|              0|
|tt0000001|       6|          Carmencita|    US|      \N|imdbDisplay|           \N|              0|
|tt0000001|       7|          Carmencita|    \N|      \N|   original|           \N|              1|
|tt0000001|       8|      カルメンチータ|    JP|      ja|imdbDisplay|           \N|              0|
|tt0000002|       1|Le clown et ses c...|    \N|      \N|   original|           \N|              1|
|tt0000002|       2|Le clown et ses c...|    FR|      \N|imdbDisplay|           \N|              0|
+---------+--------+--------------------+------+--------+-----------+-------------+---------------+
only showing top 10 rows

At first glance, it looks like this file contains alternate titles in different languages for worldwide regions. This is out of the scope of this project, so we will not use this file.

`name.basics.tsv.gz`

In [7]:
imdb_name_basics_df = spark.read.options(
    **imdb_read_options).csv(
    os.path.join(IMDB_SOURCE_DIR, "name.basics.tsv.gz")
)
imdb_name_basics_df.show(10)

+---------+---------------+---------+---------+--------------------+--------------------+
|   nconst|    primaryName|birthYear|deathYear|   primaryProfession|      knownForTitles|
+---------+---------------+---------+---------+--------------------+--------------------+
|nm0000001|   Fred Astaire|     1899|     1987|soundtrack,actor,...|tt0053137,tt00504...|
|nm0000002|  Lauren Bacall|     1924|     2014|  actress,soundtrack|tt0071877,tt01170...|
|nm0000003|Brigitte Bardot|     1934|       \N|actress,soundtrac...|tt0049189,tt00573...|
|nm0000004|   John Belushi|     1949|     1982|actor,soundtrack,...|tt0080455,tt00787...|
|nm0000005| Ingmar Bergman|     1918|     2007|writer,director,a...|tt0050986,tt00509...|
|nm0000006| Ingrid Bergman|     1915|     1982|actress,soundtrac...|tt0034583,tt00777...|
|nm0000007|Humphrey Bogart|     1899|     1957|actor,soundtrack,...|tt0033870,tt00345...|
|nm0000008|  Marlon Brando|     1924|     2004|actor,soundtrack,...|tt0078788,tt00708...|
|nm0000009| Richard Burton|     1925|     1984|actor,soundtrack,...|tt0061184,tt00597...|
|nm0000010|   James Cagney|     1899|     1986|actor,soundtrack,...|tt0042041,tt00298...|
+---------+---------------+---------+---------+--------------------+--------------------+
only showing top 10 rows

This file contains names, along with unique identifiers, to identify actors, directors, etc. This looks like it will be used to join people to their individual movie titles.

`title.principals.tsv.gz`

In [8]:
imdb_title_principals_df = spark.read.options(
    **imdb_read_options).csv(
    os.path.join(IMDB_SOURCE_DIR, "title.principals.tsv.gz")
)
imdb_title_principals_df.show(10)

+---------+--------+---------+---------------+--------------------+----------+
|   tconst|ordering|   nconst|       category|                 job|characters|
+---------+--------+---------+---------------+--------------------+----------+
|tt0000001|       1|nm1588970|           self|                  \N|  ["Self"]|
|tt0000001|       2|nm0005690|       director|                  \N|        \N|
|tt0000001|       3|nm0374658|cinematographer|director of photo...|        \N|
|tt0000002|       1|nm0721526|       director|                  \N|        \N|
|tt0000002|       2|nm1335271|       composer|                  \N|        \N|
|tt0000003|       1|nm0721526|       director|                  \N|        \N|
|tt0000003|       2|nm1770680|       producer|            producer|        \N|
|tt0000003|       3|nm1335271|       composer|                  \N|        \N|
|tt0000003|       4|nm5442200|         editor|                  \N|        \N|
|tt0000004|       1|nm0721526|       director|                  \N|        \N|
+---------+--------+---------+---------------+--------------------+----------+
only showing top 10 rows

After looking at the contents of this file, it is apparent that this is a lookup file that is used to join the names of people in the `name.basics.tsv.gz` to their respective titles in the `title.basics.tsv.gz` files. This is done via the `tconst` and `nconst` keys. For example, the `nconst` identifier *nm0005690* for the category of director on `tconst` title *tt0000001* looks like so:

In [9]:
imdb_title_principals_df.where("tconst = 'tt0000001' and nconst = 'nm0005690' and category = 'director'").first()

Row(tconst='tt0000001', ordering='2', nconst='nm0005690', category='director', job='\\N', characters='\\N')

If we look up that `nconst` value in the `name` file, we can see who the director is for that title:

In [10]:
imdb_name_basics_df.where("nconst = 'nm0005690'").first()

Row(nconst='nm0005690', primaryName='William K.L. Dickson', birthYear='1860', deathYear='1935', primaryProfession='cinematographer,director,producer', knownForTitles='tt1428455,tt1496763,tt0308254,tt0219560')

`title.crew.tsv.gz`

In [11]:
imdb_title_crew_df = spark.read.options(
    **imdb_read_options).csv(
    os.path.join(IMDB_SOURCE_DIR, "title.crew.tsv.gz")
)
imdb_title_crew_df.show(10)

+---------+-------------------+---------+
|   tconst|          directors|  writers|
+---------+-------------------+---------+
|tt0000001|          nm0005690|       \N|
|tt0000002|          nm0721526|       \N|
|tt0000003|          nm0721526|       \N|
|tt0000004|          nm0721526|       \N|
|tt0000005|          nm0005690|       \N|
|tt0000006|          nm0005690|       \N|
|tt0000007|nm0005690,nm0374658|       \N|
|tt0000008|          nm0005690|       \N|
|tt0000009|          nm0085156|nm0085156|
|tt0000010|          nm0525910|       \N|
+---------+-------------------+---------+
only showing top 10 rows

From the description in the data from the [IMDB](https://www.imdb.com/interfaces/) site, this file contains the directors and writers for each title in the data set. The `principals` file looked like it contained this information as well. Let's do a quick spot check:

In [12]:
imdb_title_crew_df.where("tconst='tt0000001'").first()

Row(tconst='tt0000001', directors='nm0005690', writers='\\N')

It looks like the director for title *tt0000001* is also linked in the `principals` file, which means that the `crew` file appears to have this data duplicated. For this reason, we will choose not to use this file.

`title.episode.tsv.gz`

In [13]:
imdb_title_episode_df = spark.read.options(
    **imdb_read_options).csv(
    os.path.join(IMDB_SOURCE_DIR, "title.episode.tsv.gz")
)
imdb_title_episode_df.show(10)

+---------+------------+------------+-------------+
|   tconst|parentTconst|seasonNumber|episodeNumber|
+---------+------------+------------+-------------+
|tt0020666|  tt15180956|           1|            2|
|tt0021166|  tt15180956|           1|            3|
|tt0021612|  tt15180956|           2|            2|
|tt0021655|  tt15180956|           2|            5|
|tt0021663|  tt15180956|           2|            6|
|tt0021664|  tt15180956|           2|            4|
|tt0021701|  tt15180956|           2|            1|
|tt0021802|  tt15180956|           2|           11|
|tt0022009|  tt15180956|           2|           10|
|tt0022031|  tt15180956|           2|            8|
+---------+------------+------------+-------------+
only showing top 10 rows

From looking at a sample of the `episode` data file and from the description on the [IMDB](https://www.imdb.com/interfaces/) site, it appears that the records in this file represent episode in televsion shows. Since we are building a pipeline for movies only, we do not need to use this file in this project.

`title.ratings.tsv.gz`

In [14]:
imdb_title_ratings_df = spark.read.options(
    **imdb_read_options).csv(
    os.path.join(IMDB_SOURCE_DIR, "title.ratings.tsv.gz")
)
imdb_title_ratings_df.show(10)

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.7|    1825|
|tt0000002|          6.0|     233|
|tt0000003|          6.5|    1576|
|tt0000004|          6.1|     151|
|tt0000005|          6.2|    2404|
|tt0000006|          5.2|     156|
|tt0000007|          5.4|     750|
|tt0000008|          5.5|    1977|
|tt0000009|          5.9|     190|
|tt0000010|          6.9|    6572|
+---------+-------------+--------+
only showing top 10 rows

It looks like this file contains the average user ratings for titles, along with how many votes the title has received. We will use this file to include in our final data set, since we are interested in user ratings for analytical purposes.

#### MovieLens/GroupLens Data Files

`movies.csv`

In [15]:
ML_SOURCE_DIR = "s3a://moviepipeline/grouplens/"

In [16]:
ml_movies_df = spark.read.options(header=True).csv(os.path.join(ML_SOURCE_DIR, "movies.csv"))
ml_movies_df.show(5)

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
+-------+--------------------+--------------------+
only showing top 5 rows

It is apparent that this is where each movie title is defined. From looking at the data, this file violates First Normal Form by containing multi-value fields (such as having the year in the title). This will need to be cleaned before this data can be used.

`links.csv`

In [17]:
ml_links_df = spark.read.options(header=True).csv(os.path.join(ML_SOURCE_DIR, "links.csv"))
ml_links_df.show(5)

+-------+-------+------+
|movieId| imdbId|tmdbId|
+-------+-------+------+
|      1|0114709|   862|
|      2|0113497|  8844|
|      3|0113228| 15602|
|      4|0114885| 31357|
|      5|0113041| 11862|
+-------+-------+------+
only showing top 5 rows

This is great - here we have a link to the IMDB id that is used in the IMDB data file. This will allow us to join the two data sets much more directly than by title. Let's do a spot check to make sure that the IDs are correct (note that the IMBD id's are prepended with 'tt'):

In [18]:
imdb_title_basics_df.where("tconst = 'tt0114709'").first()

Row(tconst='tt0114709', titleType='movie', primaryTitle='Toy Story', originalTitle='Toy Story', isAdult='0', startYear='1995', endYear='\\N', runtimeMinutes='81', genres='Adventure,Animation,Comedy')

In [19]:
ml_links_df.where("imdbId = '0114709'").first()

Row(movieId='1', imdbId='0114709', tmdbId='862')

In [20]:
ml_movies_df.where("movieId = '1'").first()

Row(movieId='1', title='Toy Story (1995)', genres='Adventure|Animation|Children|Comedy|Fantasy')

ID number *0114709* pulled up the movie *Toy Story* in both data sets. We can be reasonably sure that the ID links between the data sets are correct.

`tags.csv`

In [21]:
ml_tags_df = spark.read.options(header=True).csv(os.path.join(ML_SOURCE_DIR, "tags.csv"))
ml_tags_df.show(5)

+------+-------+------------+----------+
|userId|movieId|         tag| timestamp|
+------+-------+------------+----------+
|    14|    110|        epic|1443148538|
|    14|    110|    Medieval|1443148532|
|    14|    260|      sci-fi|1442169410|
|    14|    260|space action|1442169421|
|    14|    318|imdb top 250|1442615195|
+------+-------+------------+----------+
only showing top 5 rows

This file shows different tags added by users. These may be useful to in our model to allow analysis by tag.

`ratings.csv`

In [22]:
ml_ratings_df = spark.read.options(header=True).csv(os.path.join(ML_SOURCE_DIR, "ratings.csv"))
ml_ratings_df.show(5)

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|    307|   3.5|1256677221|
|     1|    481|   3.5|1256677456|
|     1|   1091|   1.5|1256677471|
|     1|   1257|   4.5|1256677460|
|     1|   1449|   4.5|1256677264|
+------+-------+------+----------+
only showing top 5 rows

Unlike the ratings in the IMDB file, which are aggregated, this file contains individual ratings on a user level. We do not need to get that granular for this project, so we will probably need to average out ratings on a per-movie basis. It also looks like these ratings are on a scale of 5 while the IMDB ratings are on a scale of 10. Let's check that in the data:

In [23]:
ml_ratings_df.select("rating").distinct().collect()

[Row(rating='1.0'),
 Row(rating='4.5'),
 Row(rating='2.5'),
 Row(rating='3.5'),
 Row(rating='5.0'),
 Row(rating='0.5'),
 Row(rating='4.0'),
 Row(rating='1.5'),
 Row(rating='2.0'),
 Row(rating='3.0')]

In [24]:
imdb_title_ratings_df.select("averageRating").distinct().collect()

[Row(averageRating='8.5'),
 Row(averageRating='1.0'),
 Row(averageRating='8.2'),
 Row(averageRating='2.6'),
 Row(averageRating='7.3'),
 Row(averageRating='3.1'),
 Row(averageRating='8.3'),
 Row(averageRating='4.2'),
 Row(averageRating='9.2'),
 Row(averageRating='6.1'),
 Row(averageRating='4.4'),
 Row(averageRating='3.8'),
 Row(averageRating='2.7'),
 Row(averageRating='1.7'),
 Row(averageRating='8.1'),
 Row(averageRating='2.9'),
 Row(averageRating='4.5'),
 Row(averageRating='6.2'),
 Row(averageRating='9.6'),
 Row(averageRating='6.5'),
 Row(averageRating='7.5'),
 Row(averageRating='2.5'),
 Row(averageRating='2.4'),
 Row(averageRating='5.4'),
 Row(averageRating='4.9'),
 Row(averageRating='7.7'),
 Row(averageRating='3.4'),
 Row(averageRating='1.6'),
 Row(averageRating='7.1'),
 Row(averageRating='5.7'),
 Row(averageRating='9.0'),
 Row(averageRating='3.3'),
 Row(averageRating='1.8'),
 Row(averageRating='5.3'),
 Row(averageRating='10.0'),
 Row(averageRating='4.3'),
 Row(averageRating='3.5'),
 Row(averageRating='4.8'),
 Row(averageRating='8.9'),
 Row(averageRating='9.1'),
 Row(averageRating='9.5'),
 Row(averageRating='7.4'),
 Row(averageRating='4.1'),
 Row(averageRating='5.6'),
 Row(averageRating='1.4'),
 Row(averageRating='4.6'),
 Row(averageRating='5.0'),
 Row(averageRating='6.0'),
 Row(averageRating='7.8'),
 Row(averageRating='9.9'),
 Row(averageRating='9.8'),
 Row(averageRating='8.4'),
 Row(averageRating='4.0'),
 Row(averageRating='1.9'),
 Row(averageRating='9.4'),
 Row(averageRating='7.0'),
 Row(averageRating='1.3'),
 Row(averageRating='8.7'),
 Row(averageRating='3.6'),
 Row(averageRating='7.6'),
 Row(averageRating='7.9'),
 Row(averageRating='8.8'),
 Row(averageRating='8.6'),
 Row(averageRating='1.5'),
 Row(averageRating='2.8'),
 Row(averageRating='6.6'),
 Row(averageRating='6.9'),
 Row(averageRating='2.0'),
 Row(averageRating='3.2'),
 Row(averageRating='2.2'),
 Row(averageRating='9.7'),
 Row(averageRating='3.7'),
 Row(averageRating='8.0'),
 Row(averageRating='1.1'),
 Row(averageRating='9.3'),
 Row(averageRating='5.5'),
 Row(averageRating='4.7'),
 Row(averageRating='5.2'),
 Row(averageRating='6.3'),
 Row(averageRating='5.8'),
 Row(averageRating='2.3'),
 Row(averageRating='6.8'),
 Row(averageRating='5.1'),
 Row(averageRating='3.0'),
 Row(averageRating='2.1'),
 Row(averageRating='1.2'),
 Row(averageRating='6.7'),
 Row(averageRating='5.9'),
 Row(averageRating='7.2'),
 Row(averageRating='6.4'),
 Row(averageRating='3.9')]

Yes, it looks like the differences in scale that we thought was true is does exist. We will need to make a note of this when doing calculations.

`genome_scores.csv`

In [25]:
ml_genome_scores_df = spark.read.options(header=True).csv(os.path.join(ML_SOURCE_DIR, "genome-scores.csv"))
ml_genome_scores_df.show(5)

+-------+-----+--------------------+
|movieId|tagId|           relevance|
+-------+-----+--------------------+
|      1|    1|0.029000000000000026|
|      1|    2|0.023749999999999993|
|      1|    3| 0.05425000000000002|
|      1|    4| 0.06874999999999998|
|      1|    5| 0.15999999999999998|
+-------+-----+--------------------+
only showing top 5 rows

It looks like this file joins movie IDs and tags (presumably in the `genome-tags.csv` file, since this is the `genome-scores.csv` file. Let's see what the `genome-tags.csv` file contains.

In [26]:
ml_genome_tags_df = spark.read.options(header=True).csv(os.path.join(ML_SOURCE_DIR, "genome-tags.csv"))
ml_genome_tags_df.show(5)

+-----+------------+
|tagId|         tag|
+-----+------------+
|    1|         007|
|    2|007 (series)|
|    3|18th century|
|    4|       1920s|
|    5|       1930s|
+-----+------------+
only showing top 5 rows

It looks like this is the lookup file for the data in the `genome-scores` file. Reading the description on the [GroupLens](https://files.grouplens.org/datasets/movielens/ml-latest-README.html) site about the data, genome scores and tags are assigned by a Machine Learning algorithm, and more information can be found in [this article](http://files.grouplens.org/papers/tag_genome.pdf).

All of the data above are read into DataFrame objects in the `read_imdb_source_files` and `read_movielens_source_files` methods in the pipeline's code.

#### Cleaning Steps
Once the data is loaded, the following cleaning steps are taken before loading the data into the model:

1. Since we are only interested in movies, let's limit the `imdb_title_basics_df` DataFrame to only contain records where `titleType` is `movie`. This is done in the `clean_imdb_title_basics` method.

2. In the GroupLens `movies.csv` file, we saw that First Normal Form was violated by having the year in the same field as the title as well as the genres being pipe-delimited. Let's take care of those two issues by splitting the year and title data as well as turning the genres into an array. This is done in the `clean_ml_movies_title` and `clean_ml_movies_genres` methods.

3. We saw that in the IMDB files, ID numbers are prepended 'tt' and 'nm' values. We want to remove those prepended characters so that the values are numeric and so that they match the IMDB id references from the MovieLens data set. This is done in the `clean_imdb_title_ids` and `clean_imdb_name_ids` methods.

4. The genres of the IMDB `title.basics.tsv.gz` file also need to be split into an array like we did with the MovieLens genres. This is done in the `clean_imdb_genres` method.

5. We saw that when exploring the MovieLens ratings, the entries of the file are individual ratings actions by users. We do not need to get that granular, and would rather have them aggregated by title. This is done in the `clean_movielens_ratings` method.

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
The data model that has been developed to organize the raw data is as follows:

![Data Model](modeldiagram.png)

Since the MovieLens data set is smaller than the IMDB data set and references the IMDB id, I decided to use the IMDB id as the primary identifier for movies. I also decided on lookup tables for the tag, crew and genre data in order to minimize duplication and simplify querying by these attributes.

#### 3.2 Mapping Out Data Pipelines
The steps that are needed to pipeline the data into the chosen data model are:

<ul>
    <li>Create a movie DataFrame based on the data in imdb_title_basics_df.</li>
    <li>Calculate the individual ratings from the ml_ratings_df DataFrame into the IMDB rating to get a weighted average of the two. This will populate the average_rating field in the movie DataFrame.</li>
    <li>Collect the IMDB ids and movie genres from both the imdb_title_basics_df DataFrame and the ml_movies_df DataFrame to populate moviegenre.</li>
    <li>Create a name DataFrame based on the imdb_name_basics DataFrame that includes the fields needed for the model.</li>
    <li>Create a castcrew DataFrame based on the imdb_title_principals DataFrame to map names to their respective categories for movie titles.</li>
    <li>Create usertag and genometag DataFrames using the MovieLens tag data.</li>
</ul>

Here we will run the steps outlined above:

In [6]:
from datapipeline import MoviePipeline
import logging
pipeline = MoviePipeline()

In [7]:
logging.info("Loading the IMDB data")
pipeline.read_imdb_source_files()

logging.info("Loading the MovieLens data")
pipeline.read_movielens_source_files()

logging.info("Running cleaning steps")
pipeline.clean_imdb_title_basics()
pipeline.clean_ml_movies_title()
pipeline.clean_ml_movies_genres()
pipeline.clean_imdb_title_ids()
pipeline.clean_imdb_name_ids()
pipeline.clean_imdb_genres()
pipeline.clean_movielens_ratings()
print("Success")

Success

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the Data Model

1. First, let's create the movie DataFrame using information from imdb_title_basics. This is handled in the `create_movie_df` method.

2. Next we need to add ratings data from both the IMDB and MovieLens data sets and calculate the average the ratings between the two. This is handled in the `populate_movie_ratings` and `calculate_movie_ratings` methods.

3. Now let's create the `moviegenre` table by combining the genres from both data sets. This is done in the `create_moviegenre` method.

4. Next, we will compile the IMDB `name` file into the `name` table of our data model. This is handled in the `create_name_df` method.

5. Next we will create the `castcrew` table from the `imdb_title_principals_df` DataFrame. This is done in the `create_castcrew_df` method.

6. Next, we will create the usertag table based on the MovieLens `tags.csv` file. This is done in the `create_usertag_df`method.

7. Lastly, we will create the `genometag` table based on the MovieLens `genome-tags.csv` and `genome-scores` files. This is done in the `create_genometag_df` method.

Here we will run the steps to create the data model:

In [9]:
logging.info("Creating the Data Model")
logging.info("Creating the movie DataFrame")
pipeline.create_movie_df()
logging.info("Populating movie ratings")
pipeline.populate_movie_ratings()
logging.info("Calculating average movie ratings")
pipeline.calculate_movie_ratings()
logging.info("Creating the moviegenre DataFrame")
pipeline.create_moviegenre_df()
logging.info("Creating the name DataFrame")
pipeline.create_name_df()
logging.info("Creating the castcrew DataFrame")
pipeline.create_castcrew_df()
logging.info("Creating the usertag DataFrame")
pipeline.create_usertag_df()
logging.info("Creating the genometag DataFrame")
pipeline.create_genometag_df()
print("Success")

Success

#### 4.2 Repartition the Model

Now let's repartition each DataFrame in order to improve performance when querying on the cluster. This is done in order to avoid shuffling between the nodes. Since the relationships between tables are defined between the `imdb_id` and `name_id` fields, we will use Spark's `repartitionByRange` method on those fields. This is done in the `repartition_model` method.

In [10]:
logging.info("Repartitioning the model DataFrames")
pipeline.repartition_model()
print("Success")

Success

#### 4.3 Data Quality Checks
The data quality checks we will run to check the integrity of our data after the pipeline has been run are as follows:
<ul>
    <li>Test that the movie table does not contain any blank or NULL ID values.</li>
    <li>Test that the movie table does not contain any duplicate imdb_id values.</li>
    <li>Test that the name table does not contain any blank or NULL ID values.</li>
    <li>Test that the movie table does not contain any duplicate imdb_id values.</li>
    <li>Test that the source IMDB movie file contains the same amount of records as in the movie table.</li>
    <li>Test that the source IMDB name file contains the same amount of records as in the name table.</li>
</ul>

The following methods handle the above test cases:

    test_movie_null_key
    test_movie_unique_key
    test_name_null_key
    test_name_unique_key
    test_movie_count
    test_name_count

In [12]:
logging.info("Running Data Quality Checks")
pipeline.test_movie_null_key()
pipeline.test_movie_unique_key()
pipeline.test_name_null_key()
pipeline.test_name_unique_key()
pipeline.test_movie_count()
pipeline.test_name_count()
print("Success")

Success

#### 4.4 Running the Pipeline on an EMR Cluster

To run the pipeline on an EMR cluster, first copy `datapipeline.py` to your cluster's main node:

    scp -i ./emrkeypair.pem ./datapipeline.py hadoop@ec2-xxx-xxx-xxx-xxx.us-west-1.compute.amazonaws.com:/home/hadoop/datapipeline.py

Then run the job with the `spark-submit` command:
    
    spark-submit /home/hadoop/datapipeline.py

Once the pipeline has been run successfully, the model is written out to parquet files under `s3://moviepipeline/output`.

In [13]:
logging.info("Writing output files")
pipeline.write_model()
print("Success")

Success

#### 4.5 Data dictionary
Below is a description of our data model's tables, each table's corresponding fields, and the sources of each field.

`movie`
<ul>
<li><strong>imdb_id</strong> - The unique IMDB movie title identifier. This is defined in the IMDB <i>title.basics.tsv</i> file.</li>
<li><strong>title</strong> - The title of a movie. This comes from the <i>primaryTitle</i> field of the IMDB <i>title.basics.tsv</i> file.</li>
<li><strong>release_year</strong> - The year the movie was released. This comes from the <i>startYear</i> field of the IMDB <i>title.basics.tsv</i> file.</li>
<li><strong>length_minutes</strong> - The runtime length of the movie. This comes from the <i>runtimeMinutes</i> field of the IMDB <i>title.basics.tsv</i> file.</li>
<li><strong>is_adult</strong> - A boolean field to determine if the movie is an adult title or not. This comes from the <i>isAdult</i> field of the IMDB <i>title.basics.tsv</i> file.</li>
<li><strong>average_rating</strong> - The weighted average of user ratings. This is calculated using the data from IMDB's <i>title.ratings.tsv</i> file and from the MovieLens file <i>ratings.csv</i>.</li>    
</ul>

`moviegenre`
<ul>
<li><strong>imdb_id</strong> - The unique IMDB movie title identifier. This is defined in the IMDB <i>title.basics.tsv</i> file.</li>
<li><strong>genre</strong> - A genre (Action, Adventure, etc.) that is applied to the movie. There can be more than one genre per movie in this table. This data comes from both IMDB's <i>title.basics.tsv</i> file and the MovieLens <i>movies.csv</i> file.</li>  
</ul>

`name`
<ul>
<li><strong>name_id</strong> - The unique identifier for an individual. This comes from the <i>nconst</i> field of the IMDB <i>name.basics.tsv</i> file.</li>
<li><strong>name</strong> - The name (first and last combined) of the individual. This comes from the <i>primaryName</i> IMDB <i>name.basics.tsv</i> file.</li> 
<li><strong>birth_year</strong> - The year the individual was born. This comes from the <i>birthYear</i> field of the IMDB <i>name.basics.tsv</i> file.</li> 
<li><strong>death_year</strong> - The year that the invidual died (if deceased). This field will contain an '\N' if the person is still alive. This comes from the <i>deathYear</i> field of the IMDB <i>name.basics.tsv</i> file.</li> 
</ul>

`castcrew`
<ul>
<li><strong>name_id</strong> - The identifier for an individual. This comes from the <i>nconst</i> field in the IMDB <i>title.principals.tsv</i> file and is a relation to the <i>nconst</i> field of the IMDB <i>name.basics.tsv</i> file.</li>
<li><strong>imdb_id</strong> - The movie identifier ID. This comes from the <i>tconst</i> field of the IMDB <i>title.principals.tsv</i> file and is a relation to the <i>tconst</i> field of the <i>title.basics.tsv</i> file.
<li><strong>category</strong> - The corresponding category that the related individual played as part of the related movie title. For example, <i>director</i>, <i>cinematographer</i>, <i>composer</i>, etc.</li>
</ul>

`usertag`
<ul>
    <li><strong>imdb_id</strong> - This unique ID for the movie title. This is joined to the <i>movie</i> table via the <i>movieId</i> field of the MovieLens <i>links.csv</i> file.</li>
    <li><strong>tag</strong> -The corresponding tag value given to the movie by a MovieLens user. For example, <i>epic</i>, <i>sci-fi</i>, etc. This comes from the <i>tag</i> field of the MovieLens <i>tags.csv</i></li>
    <li><strong>timestamp</strong> -The timestamp value that the tag was assigned to the movie by a user. This comes from the <i>timestamp</i> field of the MovieLens <i>tags.csv</i> file.</li>
</ul>

`genometag`
<ul>
    <li><strong>imdb_id</strong> - This unique ID for the movie title. This is joined to the <i>movie</i> table via the <i>movieId</i> field of the MovieLens <i>links.csv</i> file.</li>
    <li><strong>tag</strong> -The corresponding tag value given to the movie via a genome tagging algorithm. For example, <i>action</i>, <i>moody</i>, <i>spying</i>, etc. This comes from the <i>tag</i> field of the MovieLens <i>genome-tags.csv</i> file.</li>
    <li><strong>relevance</strong> The relevance score given to the genome tag for the particular movie title by the MovieLens genome tagging algorithm. This comes from the <i>relevance</i> field of the MovieLens <i>genome-scores.csv</i> file.</li>
</ul>

#### 4.6 Sample Analysis
Below are sample queries that can be run on the resulting model for data analysis purposes.

1. Find the 100 most popular movies by average user rating for the release year 2017.

In [14]:
OUTPUT_DIR = "s3a://moviepipeline/output/"

In [17]:
movie_df = spark.read.parquet(os.path.join(OUTPUT_DIR, "movie.parquet"))
movie_df.createOrReplaceTempView("movie_df")

popular_movies = spark.sql(
    """
    SELECT 
        imdb_id,
        title,
        release_year,
        average_rating
    FROM movie_df
    WHERE release_year = '2017'
    AND average_rating IS NOT NULL
    ORDER BY average_rating desc
    LIMIT 100
    """
)
popular_movies.show(100, False)

+--------+------------------------------------------------------------+------------+--------------+
|imdb_id |title                                                       |release_year|average_rating|
+--------+------------------------------------------------------------+------------+--------------+
|7321288 |Thea: To somre, en vinter                                   |2017        |10.0          |
|7828336 |Ccà                                                         |2017        |9.8           |
|6641442 |Seven: Dedicated to Kiarostami and Ozu                      |2017        |9.7           |
|6197624 |Walking While Black: L.O.V.E. is the Answer                 |2017        |9.6           |
|6685014 |Charandas Chor                                              |2017        |9.6           |
|10914894|Superstar                                                   |2017        |9.6           |
|4033858 |The Barn Theatre: Tomorrow's Stars Today                    |2017        |9.5           |
|6014396 |Do U Want It?                                               |2017        |9.5           |
|6338720 |Babies: A Miracle                                           |2017        |9.5           |
|6730328 |Defending the Fire                                          |2017        |9.5           |
|4507568 |Parque Central                                              |2017        |9.4           |
|5528558 |I Wish                                                      |2017        |9.4           |
|5768980 |Burlesque Extravaganza                                      |2017        |9.4           |
|6226458 |Garage Rockin' Craze                                        |2017        |9.4           |
|6355382 |Ephemeral                                                   |2017        |9.4           |
|6379662 |Angels Within                                               |2017        |9.4           |
|6558976 |Palmyra                                                     |2017        |9.4           |
|6616550 |Ram-Path                                                    |2017        |9.4           |
|6711722 |The Quiet Triumph: How Arbitration Changed the World        |2017        |9.4           |
|6867356 |One Angry Vegan                                             |2017        |9.4           |
|7067028 |Beneath the Black: A Journey Through New Zealand Rugby      |2017        |9.4           |
|7302010 |Taawdo the Sunlight                                         |2017        |9.4           |
|7391952 |Genius Montis                                               |2017        |9.4           |
|7464864 |Thalatta                                                    |2017        |9.4           |
|7502248 |Balatkayo                                                   |2017        |9.4           |
|8163662 |Dimevision 2: Roll with It or Get Rolled Over               |2017        |9.4           |
|9450450 |Deadline                                                    |2017        |9.4           |
|3746274 |Mama's Heart. Gongadze                                      |2017        |9.3           |
|4514926 |Here We Are                                                 |2017        |9.3           |
|4560374 |The Process                                                 |2017        |9.3           |
|4604666 |Baby                                                        |2017        |9.3           |
|5268678 |Unchained                                                   |2017        |9.3           |
|6131300 |Colis Suspect                                               |2017        |9.3           |
|6604894 |Shaun Barker: One More Time                                 |2017        |9.3           |
|6818096 |Crohnprinsessen                                             |2017        |9.3           |
|6868594 |Cabeza Madre                                                |2017        |9.3           |
|6870298 |Barabar, Indian Ocean Redemption                            |2017        |9.3           |
|6961914 |Back to Dad                                                 |2017        |9.3           |
|7053290 |Hugo: A Hidden Past Revealed                                |2017        |9.3           |
|7234406 |hitched                                                     |2017        |9.3           |
|7292828 |Made in Vietnam                                             |2017        |9.3           |
|7318364 |Behind the Album: The Performances                          |2017        |9.3           |
|7444748 |When I Stutter                                              |2017        |9.3           |
|7476472 |Point of No Return                                          |2017        |9.3           |
|7504492 |Scantraxx: 15 Years of Hardstyle                            |2017        |9.3           |
|7545950 |On the Record: Niall Horan - Flicker                        |2017        |9.3           |
|7650360 |Black Snake Killaz: A #NoDAPL Story                         |2017        |9.3           |
|7793002 |Guerrero                                                    |2017        |9.3           |
|5759506 |Avec l'amour                                                |2017        |9.2           |
|3381790 |Norooz, Somewhere Else                                      |2017        |9.2           |
|3633296 |My Name Is Pedro                                            |2017        |9.2           |
|3729268 |The Goddess Project                                         |2017        |9.2           |
|3741818 |Sweet Parents                                               |2017        |9.2           |
|3920118 |Avenues of Escape                                           |2017        |9.2           |
|4085940 |When They Awake                                             |2017        |9.2           |
|4661884 |Between the Shades                                          |2017        |9.2           |
|5265976 |Nuyorican Básquet                                           |2017        |9.2           |
|5645734 |Bhanwar                                                     |2017        |9.2           |
|5757986 |The Oyster Farmers                                          |2017        |9.2           |
|5848362 |Evolution of Organic                                        |2017        |9.2           |
|5989408 |Trial by Fire                                               |2017        |9.2           |
|6106738 |Guidance through the Black Hole                             |2017        |9.2           |
|6228308 |Kiumeni                                                     |2017        |9.2           |
|7214598 |Land of Hope and Glory                                      |2017        |9.2           |
|6442942 |Romeo                                                       |2017        |9.2           |
|6780706 |We Are EC: The Untold Story of East Chicago Basketball      |2017        |9.2           |
|6790150 |Karajan: the Maestro and His Festival                       |2017        |9.2           |
|6923248 |Kirtland: America's Sacred Ground                           |2017        |9.2           |
|7034904 |Acoustic Uprising                                           |2017        |9.2           |
|7122920 |Paz, Amor, y Musica the Alex Ruiz Story                     |2017        |9.2           |
|7139110 |Switch                                                      |2017        |9.2           |
|7183056 |Roy Orbison: Black and White Night 30                       |2017        |9.2           |
|7223270 |Something Quite Peculiar: The Life and Times of Steve Kilbey|2017        |9.2           |
|7256662 |Álmatlan: Dreamless                                         |2017        |9.2           |
|7285370 |All the Other Days                                          |2017        |9.2           |
|7292796 |Angelo Unwritten                                            |2017        |9.2           |
|7441796 |Okeana Savilnotie                                           |2017        |9.2           |
|7456158 |Una Historia Necesaria                                      |2017        |9.2           |
|7578850 |Little Mix: Glory Days - The Documentary                    |2017        |9.2           |
|7609002 |Just for Graphs                                             |2017        |9.2           |
|7640120 |Otvorenih ociju                                             |2017        |9.2           |
|7845882 |Fall Semester                                               |2017        |9.2           |
|7852572 |Making Good Men                                             |2017        |9.2           |
|13982552|Maestro. Alla ricerca della musica nei campi.               |2017        |9.2           |
|3484292 |No Appointment Necessary                                    |2017        |9.1           |
|3766102 |Listen                                                      |2017        |9.1           |
|3814566 |Fame Us                                                     |2017        |9.1           |
|4885752 |The Hero Chiyou                                             |2017        |9.1           |
|5586700 |El Callejón                                                 |2017        |9.1           |
|5709630 |Left on Pearl                                               |2017        |9.1           |
|6058448 |Psychic Murder                                              |2017        |9.1           |
|6094934 |Sardari's Enigma                                            |2017        |9.1           |
|6095002 |Fade to Black                                               |2017        |9.1           |
|6128082 |Chamber Music Wonderland                                    |2017        |9.1           |
|6495800 |Here's to Life: The Story of The Refreshments               |2017        |9.1           |
|6563582 |To Be Alone                                                 |2017        |9.1           |
|6619548 |Man at Home                                                 |2017        |9.1           |
|6862154 |My Human Self                                               |2017        |9.1           |
|6948198 |Comment Awards: The Movie                                   |2017        |9.1           |
|6979730 |Terrorvision: Wired Up and Scary                            |2017        |9.1           |
+--------+------------------------------------------------------------+------------+--------------+

2. Find the 20 most popular genres based on average user ratings for the release year 2017.

In [18]:
moviegenre_df = spark.read.parquet(os.path.join(OUTPUT_DIR, "moviegenre.parquet"))
moviegenre_df.createOrReplaceTempView("moviegenre_df")

popular_genres = spark.sql(
    """
    SELECT 
        mg.genre,
        ROUND(AVG(m.average_rating), 2) as avg_rating
    FROM movie_df m
    INNER JOIN moviegenre_df mg on (m.imdb_id = mg.imdb_id)
    GROUP BY mg.genre
    ORDER by avg_rating DESC
    LIMIT 20
    """
)
popular_genres.show(20)

+------------------+----------+
|             genre|avg_rating|
+------------------+----------+
|       Documentary|       7.2|
|              News|      7.18|
|         Game-Show|       7.0|
|         Biography|      6.94|
|           History|      6.79|
|             Music|      6.74|
|              IMAX|      6.71|
|         Talk-Show|      6.62|
|         Film-Noir|       6.6|
|             Sport|       6.6|
|             Short|      6.55|
|               War|      6.46|
|             Drama|      6.23|
|         Animation|      6.23|
|           Musical|      6.22|
|            Family|       6.2|
|(no genres listed)|      6.16|
|          Children|      6.15|
|           Romance|      6.09|
|             Crime|      5.99|
+------------------+----------+

3. Explore the user tags for movies with ratings greater than or equal to 9.0

In [19]:
usertag_df = spark.read.parquet(os.path.join(OUTPUT_DIR, "usertag.parquet"))
usertag_df.createOrReplaceTempView("usertag_df")

popular_tags = spark.sql(
    """
    SELECT 
        tag,
        COUNT(*) as tag_count
    FROM usertag_df ut
    INNER JOIN movie_df m on (ut.imdb_id = m.imdb_id)
    WHERE m.average_rating >= 9.0
    GROUP BY tag
    ORDER BY tag_count DESC
    """
)
popular_tags.show(100)

+--------------------+---------+
|                 tag|tag_count|
+--------------------+---------+
|             classic|      299|
|      Morgan Freeman|      293|
|   thought-provoking|      223|
|              prison|      203|
|       prison escape|      195|
|        great acting|      187|
|        twist ending|      176|
|       inspirational|      176|
|               Mafia|      166|
|        Heath Ledger|      164|
|              Batman|      147|
|           Al Pacino|      146|
|          friendship|      146|
|     organized crime|      132|
|           superhero|      127|
|          psychology|      120|
|        Stephen King|      119|
|         atmospheric|      118|
|                dark|      112|
|      Christian Bale|      110|
|        great ending|      106|
|               crime|      106|
|               drama|      103|
|     based on a book|      103|
|        imdb top 250|      101|
|             justice|      100|
|       good dialogue|       88|
|            violence|       86|
|              action|       82|
|                hope|       80|
|   Christopher Nolan|       78|
|         Atmospheric|       77|
|          reflective|       77|
|   social commentary|       71|
|       Marlon Brando|       64|
|            thriller|       62|
|     powerful ending|       58|
|     courtroom drama|       58|
|         masterpiece|       58|
|Oscar (Best Picture)|       57|
|             revenge|       52|
|    group psychology|       51|
|               mafia|       50|
|              gritty|       49|
|        heartwarming|       49|
|       Michael Caine|       48|
|          comic book|       46|
|         Tim Robbins|       45|
|            narrated|       45|
|            stylized|       42|
|       serial killer|       42|
|           vigilante|       42|
|      robert de niro|       41|
|         Gary Oldman|       38|
|oscar (best direc...|       37|
|       ensemble cast|       37|
|          redemption|       33|
|           courtroom|       33|
|Francis Ford Coppola|       33|
|              racism|       32|
|Oscar (Best Suppo...|       31|
|         sentimental|       30|
|               music|       30|
|      morgan freeman|       29|
|          low budget|       29|
|             violent|       28|
|    great screenplay|       28|
|               Joker|       27|
|wrongful imprison...|       27|
|      Robert De Niro|       27|
|     confrontational|       26|
|    Nudity (Topless)|       25|
|              family|       25|
|          melancholy|       24|
|         Henry Fonda|       22|
| Comic Book adaption|       22|
|    based on a comic|       22|
|          corruption|       21|
|      cinematography|       21|
|     dialogue driven|       20|
|       New York City|       20|
|           DC Comics|       19|
|     surprise ending|       18|
|              escape|       18|
|       all-male cast|       18|
|            touching|       18|
|           feel-good|       17|
|       italian mafia|       17|
|  great performances|       17|
|        prison break|       17|
|   Maggie Gyllenhaal|       17|
|   adapted from:book|       16|
|            too long|       16|
|oscar (best picture)|       16|
|              murder|       16|
|           inspiring|       16|
|           overrated|       15|
|          good story|       15|
|         good acting|       14|
|  complex characters|       14|
+--------------------+---------+
only showing top 100 rows

4. The scope of this project was to use a data set containing at least a million rows. We can see that there were over a million tags that were assigned by users to titles in the MovieLens data:

In [20]:
tag_count = spark.sql(
    """
    SELECT count(*) from usertag_df
    """
)
tag_count.show()

+--------+
|count(1)|
+--------+
| 1108997|
+--------+

As well as close to 600,000 movie titles:

In [21]:
movie_count = spark.sql(
    """
    SELECT count(*) from movie_df
    """
)
movie_count.show()

+--------+
|count(1)|
+--------+
|  590009|
+--------+

And there are over 11 million names of cast and crew members:

In [22]:
name_df = spark.read.parquet(os.path.join(OUTPUT_DIR, "name.parquet"))
name_df.createOrReplaceTempView("name_df")
name_count = spark.sql(
    """
    SELECT count(*) from name_df
    """
)
name_count.show()

+--------+
|count(1)|
+--------+
|11273203|
+--------+

#### Step 5: Project Write-Up
<strong>Clearly state the rationale for the choice of tools and technologies for the project.</strong>

For this project, Spark was chosen to build the pipeline. This is primarily because the Spark 'schema-on-read' ecosystem allows for flexible modeling, as well as the built-in functionality to cleanly parse, join, modify and combine data from multiple sources. This approach has advantages over using a traditional data warehouse due to less intensive setup, more flexibility to modify the schema, and also the ability to scale horizontally when the data grows. 

<strong>Propose how often the data should be updated and why.</strong>

Since new movies are usually released on a weekly basis, the movie titles of this pipeline should most likely be updated weekly. The user scores from MovieLens should be updated more often, perhaps on a daily basis, to keep track of trends for popular movies. 

<strong>Write a description of how you would approach the problem differently under the following scenarios:</strong>

<strong><i>The data was increased by 100x.</i></strong>

The pipeline was built to read entire files rather than incremental updates. If the data were to increase by 100 times, it would be much more prudent to incrementally update the data by timestamp and/or daily files rather than process the entire pipeline every time the source data is updated. If incremental updates were to be set up, we would also need to keep the IMDB and MovieLens individual ratings values (number of ratings and average rating) in the data model, in order to be able to recalculate the overall average rating when new ratings are available in the source data. 
 
<strong><i>The data populates a dashboard that must be updated on a daily basis by 7am every day.</i></strong>
 
If the pipeline was needed to be completed to populate a business dashboard every day, the best approach would be to use the code in the notebook to create a DAG in Airflow. This DAG could be set up to run with a specific SLA to complete by a certain time every night, and page the Data Engineering team if it did not complete or if there was an error.
 
<strong><i>The database needed to be accessed by 100+ people.</i></strong>
 
If the data needed to be accessed by over 100 people, then it would be a good decision to export the pipeline's results into a Data Warehouse such as Amazon Redshift. This is because the database system can handle multiple connections for querying the data or power the backend to a BI dashboard application.